footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 6rem;
}

.footerLogo{
  margin-left: 2rem;
  margin-right: 1rem;
  width: 20%;
  height: 10%;
  min-width: 15rem;
  max-width: 20rem;
}

.footerimg{
  width: 70%;
}
.footerlink{
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  footer{
    text-align: center;
    position: static;
    margin-left: -2rem;
  }
  .footerimg{
    width: 70%;
  }
  .footerlink{
    margin-right: -2rem;
  }
}
@media screen and (min-width: 1600px) {
  .footerLogo{
      max-width: 20%;
  }
  footer{
    font-size: large;
  }
  .footerimg{
    width: 70%;
  }
  .footerlink{
    margin-right: 1rem;
  }
}