body{
    background-image: url('./assets/betakingweb/pueblo2-desenfocao.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin:auto;
    margin-top: 1rem;
}
.gameLogo{
    display: flex;
    width: 30%;
    margin:auto;
    margin-top: 5rem;
}
.description{
    text-align: center;
}

.steamlink{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

@media screen and (max-width: 768px) {
    .gameLogo{
        width: 50%;
    }
    .gameContainer{
        width: 80%;
    }
    
    .description{
        width: 100%;
    }

    .steamlink{
        width: 95%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1600px) {
    
}
