:root {
  color: #651d2b;
  background-color: #ffc990;
  font-family: sans-serif;
  font-weight: bold;
}
#root{
  overflow: hidden;
  inset: 0;
}
body{
  margin: 0;
}
@media screen and (min-width: 1600px) {
  :root{
    font-size: large;
  }
}